 # Database
    DATABASE_URL: str = "postgresql+asyncpg://postgres:3768@localhost:5432/patient_management_system"

    SECRET_KEY: str = "RQX0z95wRPr9XdmFwWwcEWvICaZmLacUwOrkTun3aHe"
    ALGORITHM: str = "HS256"
    ACCESS_TOKEN_EXPIRE_MINUTES: int = 30